@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap');

/* Scrollbar Styles */
html {
  scrollbar-width: thin;
  scrollbar-color: #0f172a #cbd5e1;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #0f172a;
}
body::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  /* border: 3px solid #cbd5e1; */
  border-radius: 12px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .project > ul {
    @apply px-12 list-disc;
  }

  .project > ul > li > ul {
    @apply pl-8 list-disc;
  }

  .project > p {
    @apply my-3;
  }
}

@layer utilities {
  @layer responsive {
    .text-shadow {
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    }

    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-accent {
      text-shadow: 0 2px 2px rgba(251, 146, 60, 0.3),
        0 2px 4px rgba(251, 146, 60, 0.2);
    }

    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11),
        0 5px 15px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}
